html{
    font-size: 10px;
}

body{
    /* 크기 */
    width: 100vw;
    /* height: 720px; */

    /* 배경 */
    background: linear-gradient(to right, rgba(240, 244, 255, 1), rgba(165, 182, 238, 1));

    /* 가로 세로 스크롤 제거 */
    margin: 0;
    padding: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo{
    width: 24.4rem;
    height: 4.8rem;
    margin-top: 7.2rem;
    margin-bottom: 6rem;
}

.container{
    width: 40rem;
    height: 36rem;
    border-radius: 1.6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right, rgba(85, 114, 187, 1), rgba(55, 75, 124, 1));
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.clockName{
    margin-top: 4.8rem;
    margin-bottom: 2.3rem;
    font-size: 2.4rem;
    color: rgba(255, 255, 255, 1);
}

.hr1{
    width: 312px;
    border: none;
    border-top: 1px solid rgba(61, 83, 138, 1);
    border-bottom: 1px solid rgba(91, 117, 180, 1);
    height: 0;
    margin: 0;

    margin-top: 2.3rem;
    margin-bottom: 3.2rem;
}

.clock{
    display: flex;
    gap: 2.2rem;
}

.clockUnit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.clockUnit p {
    font-weight: 700;
    font-size: 1.2rem;
    color: rgba(165, 182, 238, 1);
}

.screen{
  width: 8rem;
  height: 8rem;
  text-align: center;

  background-image: url('img/box.png');
  background-size: contain;        /* 이미지 꽉 채움 */
  background-repeat: no-repeat;
  background-position: center;

  border: none;                  /* 기본 테두리 제거 */
  outline: none;
  background-color: transparent; /* 기본 흰 배경 제거 */

  
  font-size: 4rem;
  color: white;
}

.btn-group{
    margin: 4rem 0;
    display: flex;
    gap: 1.2rem;
}

.btn-group button{
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.btn-group button:disabled{
  cursor: not-allowed;
}

.btn-img{
  display: block;
  width: 11.2rem;  /* 필요하면 조정 */
  height: auto;
}

.copyright{
    margin-top: 6rem;
    margin-bottom: 10.3rem;
    color: rgba(133, 150, 191, 1);
    font-size: 1.4rem;
}